*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    background-color: #92bde7;
  }
#nav{
    position: fixed;
    width: 100%;
    height: 8vh;
    transition:background-color 3s ease-out;
    background-color:rgb(28, 207, 198);
    z-index: 10;
}
#menu{
    display: flex;
    float: right;
    line-height: 40px;
    gap: 20px;
    margin-right: 20px;
    list-style: none;
}
#menu li a{
    text-decoration: none;
    color:black;
}
label{
    position: absolute;
    line-height: 40px;
    color:black;
    left: 15px;
    font-size: 20px;
}
#menu li a:hover{
    transition:background-color 3s ease-out;
     background-color: salmon;

}
#btn-mobile{ 
     display: none;
  }
  #hamburger{
      display: none;
  }
    .container{
        position: relative;
        max-width: 1100px;
        margin-left:auto;
        margin-right:auto;
        padding:1em;
      top: 100px;
    }  

   
   
    ul{
        list-style:none;
        padding:0px;
    }
    .brand{
        text-align:center;
    
    }
    .brand span{
        color:#fff;
    }
    .wrapper{
    box-shadow: 0 0 20px 0 rgba(72,94,116,0.7); 	
 

    }
    .wrapper >*{
        padding:1em;
    }
    .company-info{
    background:#c9e6ff;	 
    }
    .company-info h3, .company-info ul{
        text-align: center;
        margin:0 0 1rem 0;
        top: -10px;
        position: relative;
    }
    .contact{
        background:#f9feff;
    
    }
     /*FORM STYLE */ 
     .contact form{
         display:grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 20px;
         padding: 10px;
     }
     .contact form label{
         display: block;
         
     }
     .cotact form p{
         margin:0px;
     }
     .contact form .full{
         grid-column: 1/3;
     }
     .contact form button, .contact form input, .contact form textarea{
     width:90%;	
     padding:1em;
     border:1px solid ;
     }
    .contact form button{
        position: relative;
    background:#c9e6ff;
    border:none;
    text-transform: uppercase;	
    left: 2%;
    }
    .contact form button:hover,.contact button:focus{
     background: #92bde7 ;
     color:salmon;
     outline:0;
     transition:background-color 4s ease-out;
    }
    /* Large screen */
    @media (max-width:900px){
        #nav{
            position: fixed;
        }
        #menu{
            background-color: cadetblue;
            position: absolute;
            display: table-column;
            top: 48px;
            width:100%;
            height: 100vh;
         transition: .3s;
            visibility: hidden;
            overflow-y: hidden;
            
         }  
            
        
        #hamburger{
            display: block;
        }
        #nav.active #menu{
         visibility: visible;
         overflow-y: auto;
         z-index: 10;
         transition: .3s;
         transition:background-color 3s ease-out;
         background-color: turquoise;
        
        }
        #menu a{
            padding: 1rem 0;
            margin: 0 1rem;
           /* border-bottom: 2px solid rgba(0, 0, 0, .05);*/
            text-align: center;
            color:black;
            font-size:1.2rem;
            left: 40%;
           }
           #menu li{ 
               display: block;
               
            }
            #menu li a{
                position: relative;
                color: black;
                left: 40%;
            }
        #menu a:hover{
            background-color: salmon;
            width: 100%;
            
        }
        #btn-mobile{ 
            display: flex;
            position: relative;
            padding:.5rem 1rem;
            font-size: 1rem;
            right: 10px;
            background:transparent;
            cursor: pointer;
            gap: .5rem;
            color:black;
            margin-top: 5px;
            float: right;
            border: transparent;
          }
        
          #hamburger{
            position: relative;
           border-top: 2px solid;
            width: 20px;
            color:black;
            
        
           }
          #hamburger::after, #hamburger::before{
             content: '';
             display: block;
             width: 20px;
             height: 2px;
           background:currentColor;
             margin-top: 5px;
             transition: .6s;
             position: relative;
             
           }
           #nav.active #menu{
               display: block;
               
           }
           #nav.active #hamburger{ 
             border-top-color: transparent;
             color: black;
             z-index: 1000;
           }
             #nav.active #hamburger::before{ 
               transform: rotate(135deg);
               
             }
             #nav.active #hamburger::after{ transform: rotate(-135deg);
               top: -7px;
             }
             #nav.active #menu a{
               position: relative;
               left: 40%;
               color:black;
             }
            #nav.active #btn-mobile{
              color: transparent;
              
            }