  body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
/* overflow:hidden; */
}
body, html {
    height: 100%; /* Ensure full height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden;
}

main {
    height: 100vh; /* Set main height to full viewport height */
    overflow-x:hidden; /* Add scrollbars when content overflows */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding-bottom: 40px; /* Optional: Add padding to main content */
  }

html{
overflow-x: hidden;
}

header {
  position: fixed;
  background-color:black;
  width: 100%;
  color: #fff;
 position:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index:100;
}

header h1 {
  position: relative;
  text-align: start;
  left: 7%;
  width: 150px;
  margin: 0;
}
  #logo{
  text-decoration: none;
  color: white;
  cursor:pointer;
}
nav a {
  color:#fff;
  text-decoration: none;
  margin-right: 1rem;
  display: block;
}
#menu{
  position:absolute;
  background:#fff;
  display:flex;
  flex-direction:column;
  gap: 20px;
  top:0px;
  left:0;
  width:100%;
  height:80vh;
  display: none;
}
.active#menu{
  position:absolute;
  background:black;
  display:flex;
  flex-direction:column;
  gap: 30px;
  top:50px;
  left:0;
  width:50%;
  height:auto;
  padding-bottom:50px;
  display:block;
}
.active#menu a{
  position:relative;
  left:-10px;
}
 header #icon{
 border: transparent;
}
li{
  display: none;
}

#menu a{
  position:relative;
  top:20px;
  margin:20px;
}
#bars{
  width:30px;
  height:2px;
 top:30px;
  right:50px;
  position: absolute;
  background:red;
  cursor: pointer;
}
#bars::before{
  content:"";
  width:30px;
  height:2px;
  top:-5px;
  position:absolute;
  background:red;
  cursor: pointer;
}
#bars::after{
  content:"";
  width:30px;
  height:2px;
  top:5px;
  position:absolute;
  background:red;
  cursor: pointer;
}
.activ#bars::after{
  background:white;
}
main {
  padding: 2rem;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
#hero{
  position: relative;
  margin-top:19px;
  min-width: 600px;
  min-height: 35vh;
  margin-bottom: 1rem;
  padding:5px;
  left: -31px;
  background:lightyellow;
  background: url('img/Slide1.jpg') ;
  background-size:100%;
  background-repeat: no-repeat;
  background-position-y:20px;
  display: none;
}
.button{
  position:relative;
  left:40%;
  top: 200px;
  background:black;
  color:white;
}
#about{
position: relative;
margin-top:100px;
margin-bottom: 130px;
}

#about p{
  width: 80%;
  margin: 0 auto;
  line-height: 25px;
}
section {
  margin-bottom: 2rem;
}
#icon{
  position: absolute;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 5px;
  border: 1px solid blue;
  padding: 5px;
  font-size: 30px;
  margin-left: 5%;
  color: red;
   top: 5px;
}
footer {
  position: relative;
  background-color: #333;
  min-width: 500px;
    height:30px;
  left:-10%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top:0px;
  margin-bottom: 10px;
 padding-top:40px;
 display:block;

}
footer p{
  position: relative;
  left: 25%;
  margin: 0 auto;
  top: -20px;
}
@media screen and (min-width:700px) {
.active#menu{
   width:25%;
   padding-bottom:40px;
}

#menu a{
  color: #fff;
}
#hero{
min-height:45vh;
min-width:720px;
left: -30px;
margin-top: 20px;
background-size: 100% 100%;
}

  #hero h1{
    text-align: center;
  }
  #hero  p{
    position: relative;
    margin-left:5%;
  }
  #about img{
    height: 63vh;
  }
#about p{
  width: 60%;
  margin: 0 auto;
}

}
@media  screen and (min-width:1000px) {
  header{
    width: 100%;
    background-color: rgb(9, 12, 15);
    color: #fff;
  }
  #icon{
    display: none;
  }
  html{
    overflow-x: hidden;
  }
   #logo{
  position: relative;
  font-size: 30px;
  left: 10%;
 }
  .proj{
    display: none;
  }
  #hero{
    background-size: 100% 100%;
    
  }
 
  li{
    list-style-type: none;
    position: relative;
    line-height: 3;
    display: grid;
  }
  #projetos{
    width: 100px;
  }
   #projetos a{
    position: absolute;
    margin:-5px;
    margin-left: -90px;
    color: black;
    text-align: left;
    font-size: large;
  }
  li:hover{
 background-color: rgb(0,0, 0);
  }
  li a{
    display:none;
  }
  li:hover a{
    display: grid;
    /* width: 50px; */
    position:absolute;
    background-color: rgb(0,0, 0);
  }
  #bars{
    display: none;
  }
#menu{
  display: flex;
  flex-direction: row;
  background-color:transparent;
  width: auto;
  height: auto;
  left: 50%;
  top: -10px;
}
#menu a{
  position:relative;
  left: 0%;
  color: white;
  top: -3px;
}
#menu a:hover{
  text-decoration: underline;
  color:#fe3;
}
h2{
  text-align: center;
}
#hero{
  min-width: 1200px;
  top: 19px;
  /* margin: 0 auto; */
  margin-bottom: -30px;
  background: url('img/Slide1.jpg') ;
  background-size:100%;
  background-repeat: no-repeat;
  right:10px;
  padding: 4em;
  display: none;
}
#hero h1{
  text-align: center;
}
#hero p{
  position: relative;
  width:60%;
  padding: 10px;
  /* margin-left:15% ; */
  margin: 0 auto;
  line-height: 25px;
}
#hero .button{
  position: relative;
  background-color:black;
  margin-left: 50px;
  margin-top: 100px;
  padding: 10px;
  cursor: pointer;
}
#hero .button:hover{
  background-color: #333;
  color: #fe3;
  text-transform:uppercase;
}
  /* section {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  section.active{
    opacity: 1;
  } */
#about{
  position: relative;
  top: 70px;
  margin-bottom: 90px;
}
#about h1{
  position: relative;
  text-align: center;
  top: -10px;
  
}
#about p{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

#icon{
  position: absolute;
  border: 1px solid rgb(243, 242, 242);
  border-radius: 5px;
  padding: 5px;
  font-size:15px;
  margin-left: 5%;
  color: blue;
   top: 25px;
}
footer{
  position:relative;
  background-color: rgb(0, 0,0);
  margin-top: 130px;
  padding: 40px;
  display: none;
}
footer p{
  position: absolute;
margin: 0 auto;
top:30px;
right: 40%;
}
}