*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#theCover{ 
  flex-wrap: wrap;
  position: relative;
  max-width:100%;
  height: 100vh;
  top: 1px;
  background:lightblue;
  z-index: 10;
  box-sizing: border-box;
}
  #input{ 
    position: absolute;
    top: 3;
    left: 20%;
    margin-left: 10px;
    z-index: 10;
    display:none ;
  }
  .input{
    position: absolute;
    width: 100px;
    right:13px;
    top: 30px;
    z-index: 1;
    position: ;
    background: salmon;
  }
  .input:hover{   
    background:lightblue ;
    
  }
  #input1{ 
  position:absolute;
  top:27;
  right: 100px;
  margin-left: 10px;
z-index:1;
display: none;
cursor: pointer;
}
h1{
  position: relative;
  top: 5px;
  text-align: center;
  
}
.portfolio{  
  position: relative;
  width: 80%;
  height:auto;
  border:1px solid transparent ;
  top: 100px;
  left: 10%;

}
.portfolio img{   
  position: relative;
  width: 30%;
  top: 10px;
   left: 34%;
}
/*second page start here, page under myImage*/
#container{  
  position: absolute;
  top: 10px;
  width:100%;
  background:lightgray ;
  z-index: 1;
  overflow-y: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}
#container #header{   
  position: absolute;
  width:100%;
  top: -2px;
  height: 9vh;
  background: lightblue;
 z-index: 10;

}

  #logo{ 
    position:relative;
    line-height:50px ;
    font-size:40px;
   float: left;
  right:47%;
  }
  
  
  #menu li a{ 
    display: flex;
    position: relative;
  float: right;
  font-size: 1.2rem;
  right:60px;
  color: black;
text-decoration: none;
}
 #menu li { 
   float: right;
  display: flex;
  margin-left: 20px;
  line-height: 50px;
  font-size: 1.2rem;
 }
#container #input1{ 
  position: absolute;
  border: transparent;
  background: transparent;
  font-size: 1.1rem;
  top:15px;
  right: 150px;
  z-index: 100;
  display: block;
  cursor: pointer;
}
#container #input1:hover{
  background: salmon;
}
.items{ 
  position: relative;
  width: 90%;
  height:155vh;
  background: transparent;
  top: 60px;
  left: 3%;
  padding: 10px;
border: 1px solid blue;
border-bottom-color: red;
padding: 10px ;
}

.items p{  
  width: 80%;
  position: relative;
  left:50%;
  top: 20px;
  transform: translate(-50%, -20%);
}

.my-job{ 
  position: relative;
  margin-top: 110px;
  max-width:60%;
  height: 40VH;
  border: 2px solid;
  background: lightblue;
  left:50%;
  transform: translate(-50%, -20%);
  
}
.my-job img{ 
  position: relative;
  width: 150px;
  height:20vh;

}
h2{  
 position: relative;
  top: 50px;

  text-align: center;
}
.The-tools{  
  display:grid;
 grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  position: relative;
  top: 70px;
  max-width: 60%;
  height:60vh;
  border: 2px solid ;
  left:50%;
  transform: translate(-50%, -20%);
  
}
.The-tools img{  
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: ;
  position: relative;
  max-width:80%;
  min-width:70%;
  height:20vh;
  margin-top: 20px;
  left: 10%;
  
}
.down-side{ 
position: relative;
width: 100%;
height: 20vh;
top: 65px;
background-color: black;
}
 
@media (max-width:600px) {
  
#theCover{ 
  display: flexbox;
  flex-wrap: wrap;
  position: relative;
  width:100%;
  height: 100vh;
  top: 1px;
  background:lightblue;
  z-index: 10;
}
  #input{ 
    position: absolute;
    top: 3;
    left: 20%;
    margin-left: 10px;
    z-index: 10;
    display:none ;
  }
  .input{
    position: absolute;
    width: 100px;
    right:13px;
    top: 30px;
    z-index: 1;
    position: ;
    background: salmon;
  }
  .input:hover{   
    background:lightblue ;
    
  }
  #input1{ 
  position:absolute;
  top:27;
  right: 100px;
  margin-left: 10px;
z-index:1;
display: none;
cursor: pointer;
}
h1{
  position: relative;
  top: 5px;
  text-align: center;
  
}
.portfolio{  
  position: relative;
  width: 80%;
  height:auto;
  border:1px solid transparent ;
  top: 100px;
  left: 10%;

}
.portfolio img{   
  position: relative;
  width: 30%;
  top: 10px;
   left: 34%;
}
/*second page start here, page under myImage*/
#container{  
  position: relative;
  top: 10px;
  width: 100%;
  background:lightgray ;
  z-index: 1;
  overflow-y: hidden;
  
}
#container #header{   
  position: absolute;
  width:100%;
  top: -2px;
  height: 9vh;
  background: lightblue;
 z-index: 10;

}

  #logo{ 
    position:relative;
    line-height:50px ;
    font-size:40px;
   float: left;
  right:47%;
  }
  
  
  #menu li a{ 
    display: flex;
    position: relative;
  float: right;
  font-size: 1.2rem;
  right:60px;
  color: black;
text-decoration: none;
}
 #menu li { 
   float: right;
  display: flex;
  margin-left: 20px;
  line-height: 50px;
  font-size: 1.2rem;
 }
#container #input1{ 
  position: absolute;
  border: transparent;
  background: transparent;
  font-size: 1.1rem;
  top:15px;
  right: 150px;
  z-index: 100;
  display: block;
  cursor: pointer;
}
#container #input1:hover{
  background: salmon;
}
.items{ 
  position: relative;
  width: 90%;
  height:155vh;
  background: transparent;
  top: 60px;
  left: 3%;
  padding: 10px;
border: 1px solid blue;
border-bottom-color: red;
padding: 10px ;
}

.items p{  
  width: 80%;
  position: relative;
  left: 7%;
}

.my-job{ 
  position: relative;
  display: block;
  margin-top: 80px;
  max-width:80%;
  height: 30VH;
  border: 2px solid;
  background: lightblue;
  left:35%;
  
}
.my-job img{ 
  position: relative;
  max-width:100px;
  height:20vh;

}
h2{  
 position: relative;
  top: 50px;

  text-align: center;
}
.The-tools{  
  display:flex;
  flex-wrap: wrap;
  gap: 60px;
  position: relative;
  top: 70px;
  width: 40%;
  height:60vh;
  border: 2px solid ;
  left:30%;
  
}
.The-tools img{  
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width:0%;
  height:20vh;
  margin-top: 20px;
  left: 10%;
  
}
.down-side{ 
position: relative;
width: 100%;
height: 20vh;
top: 65px;
background-color: black;
}

}
