body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
/* overflow:hidden; */
}
body, html {
    height: 100%; /* Ensure full height */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden;
}

main {
    height: 100vh; /* Set main height to full viewport height */
    overflow-x:hidden; /* Add scrollbars when content overflows */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding-bottom: 50px; /* Optional: Add padding to main content */
  }

html{
overflow-x: hidden;
}

header {
  position: fixed;
  background-color:black;
  width: 100%;
  color: #fff;
 position:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index:100;
}

header h1 {
  position: relative;
  text-align: start;
  left: 7%;
  width: 150px;
  margin: 0;
}
  #logo{
  text-decoration: none;
  color: white;
  cursor:pointer;
}
nav a {
  color:#fff;
  text-decoration: none;
  margin-right: 1rem;
  display: block;
}
#menu{
  position:absolute;
  background:#fff;
  display:flex;
  flex-direction:column;
  gap: 20px;
  top:0px;
  left:0;
  width:100%;
  height:80vh;
  display: none;
}
.active#menu{
  position:absolute;
  background:black;
  display:flex;
  flex-direction:column;
  gap: 30px;
  top:50px;
  left:0;
  width:50%;
  height:auto;
  padding-bottom:50px;
  display:block;
}
.active#mwnu a{
  position:relative;
  left:-10px;
}
li{
  display: none;
}

#menu a{
  position:relative;
  top:20px;
  margin:20px;
}
#bars{
  width:30px;
  height:2px;
 top:30px;
  right:50px;
  position: absolute;
  background:red;
  cursor: pointer;
}
#bars::before{
  content:"";
  width:30px;
  height:2px;
  top:-5px;
  position:absolute;
  background:red;
  cursor: pointer;
}
#bars::after{
  content:"";
  width:30px;
  height:2px;
  top:5px;
  position:absolute;
  background:red;
  cursor: pointer;
}
.activ#bars::after{
  background:white;
}
main {
  padding: 1rem;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
#hero{
  position: relative;
  margin-top:70px;
  width: 100%;
  min-height: 40vh;
  margin-bottom: 1rem;
  padding:5px;
  background:lightyellow;
  background: url('img/Slide1.jpg') ;
  background-size:100% 80%;
  background-repeat: no-repeat;
  background-position-y:20px;
}
.button{
  position:relative;
  left:40%;
  top: 200px;
  background:black;
  color:white;
}
#about p{
  line-height: 25px;
}
#projects video{
  position:absolute;
  width:450px;
  /* height: 40vh; */
  /* margin-top: 60px; */
  /* margin-bottom: 90px; */
  left:-3%;
}


section {
  margin-bottom: 2rem;
}
#projects{
  position: relative;
  /* box-shadow: 3px 3px 30px; */
  margin-top: 80px;
  padding: 70px;
    display:grid;
    /* grid-template-columns: 3fr 3fr 10px;  */
  gap:5px;
}
#projects h2{
  position: absolute;
  /* left: 30%; */
  top: -40px;
  margin-bottom: 20px;

}
#projects video{
  position: relative;
  top: 30px;
  left:-25%;
  min-width:900px;
  display:none;
}
#projects img{
   position: relative;
  top: 30px;
  left: -90px;
  min-width:900px;
  left:-30%;
  min-width:900px;
display:block;
}

.project {
  position: relative;
  left:-5px;
  margin-bottom: 1rem;
}
#proj{
  position: relative;
  display: flex;
  margin: 0 auto;
  background-color: lightgray;
  padding: 30px;
  top: 50px;
}
#proj button{
  position: relative;
  padding: 5px;
  left: 3%;
  border: transparent;
  border-radius: 25px;
  width: 150px;
  color:rgb(0,0, 0);
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
}
#proj button:hover{
  background-color:rgb(0,0, 0);
  color: #fff;
  box-shadow: 3px 3px 3px 3px;
}
#pro{
  position:relative;
 margin-left:-42px;
}
#contact{
  margin-top: 130px;
  max-width: 1300px;
  padding: 2em;
  zoom: 0.8
}
#contact h2{
  position: relative;
  text-align: center;
  margin-top: 130px;
}
form {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
   position: relative;
    min-width:400px;
    gap: 10px;
   margin-bottom: 100px;
  
	
}
.invalid{
    display: block;
    color: red;
}

label {
	font-size: 24px;
	margin: 20px 0 10px;
}

input[type="text"], input[type="email"], textarea {
	font-size: 18px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 80%;
	left: 50%;
	transform: translate(-50%,-20%);
    position: relative;
}

button[type="submit"] {
  position: relative;
	background-color: #f00;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 10px;
	cursor: pointer;
left: 5%;
}
#btn{
	position: relative;
	margin: 0 auto;
	width: 200px;
}

button[type="submit"]:hover {
	background-color: #fff;
	color: #f00;
	
}
#fnameError{
	position: relative;
	color: red;
	margin: 0 auto;
}
#emailError{
	position: relative;
	color: red;
	top:-10px;
	margin: 0 auto;
}
#subjectError{
	position: relative;
	color: red;
	margin: 0 auto;
	top: -10px;
}
#messageError{
	position: relative;
	color: red;
	margin: 0 auto;
	top: -10px;
}
#textarea{
  width:80%;
  height: auto;
}

footer {
  position: relative;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top:10em;
  padding-top: 70px;
}
footer p{
  position: relative;
  margin: 0 auto;
  top: -20px;
}
@media screen and (min-width:700px) {
.active#menu{
   width:25%;
   padding-bottom:40px;
}

#menu a{
  color: #fff;
}
  #hero h1{
    text-align: center;
  }
  #hero  p{
    position: relative;
    margin-left:5%;
  }
  #about img{
    height: 63vh;
  }

 #projects h2{
  position:absolute;
    width: 80%;
    left: 7%;
    margin-top: -39px;
 }
#projects video{
  position: relative;
  min-width:1000px;
  height:80vh;
  margin-left:-5%;
  top: 90px;
  margin-bottom:5em;
  /* margin: 0 auto; */
}
}
@media  screen and (min-width:1000px) {
  header{
    width: 100%;
    background-color: rgb(9, 12, 15);
    color: #fff;
  }
  html{
    overflow-x: hidden;
  }
  #hero{
    background-size: 100% 100%;
    
  }
  li{
    list-style-type: none;
    position: relative;
    line-height: 3;
    display: grid;
  }
   #projetos a{
    position: absolute;
    left: -30px;
    color: black;
  }
  li:hover{
 background-color: rgb(0,0, 0);
  }
  li a{
    display:none;
  }
  li:hover a{
    display: grid;
    /* width: 50px; */
    position:absolute;
    background-color: rgb(0,0, 0);
  }
  #bars{
    display: none;
  }
#menu{
  positioolute;
  display: flex;
  flex-direction: row;
  background-color:transparent;
  width: auto;
  height: auto;
  left: 50%;
  top: -10px;
}
#menu a{
  position:relative;
  left: 0%;
  color: white;
  top: -3px;
}
#menu a:hover{
  text-decoration: underline;
  color:#fe3;
}
h2{
  text-align: center;
}
#hero{
  max-width: 1200px;
  top: 70px;
  margin: 0 auto;
  margin-bottom: 70px;
  background: url('img/Slide1.jpg') ;
  background-size: 100% 100%;
  background-position-y: 0px;
  right:10px;
  padding: 4em;
}
#hero h1{
  text-align: center;
}
#hero p{
  position: relative;
  width:60%;
  padding: 10px;
  /* margin-left:15% ; */
  margin: 0 auto;
  line-height: 25px;
}
#hero .button{
  position: relative;
  background-color:black;
  margin-left: 50px;
  margin-top: 100px;
  padding: 10px;
  cursor: pointer;
}
#hero .button:hover{
  background-color: #333;
  color: #fe3;
  text-transform:uppercase;
}

#about{
  position: relative;
  top: 70px;
  margin-bottom: 90px;
}
#about h1{
  position: relative;
  text-align: center;
  top: -10px;
  
}
#about p{
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}
#about p br{
  display: none;
}
#projects video{
  position: relative;
  min-width: 1200px;
  height:80vh;
  left:2%;
  top: 90px;
  margin-bottom:5em;
  /* margin: 0 auto; */
}
#projects h2{
  position: relative;
  top: 50px;
  margin-left: 5%;
}
#proj button{
  position: relative;
 background-color:rgba(75, 118, 197, 0.575);
  left: 33%; 
  padding: 5px;
  border: transparent;
  border-radius: 25px;
  width: 150px;
  color:rgb(0,0, 0);
  font-size: 18px;
  margin-left: 40px;
  cursor: pointer;
}
#contact{
  margin: 0 auto;
}
footer{
  padding-top: 30px;
}
footer p{
margin: 0 auto;
margin-top:0px;
}
}
