/* Styles for header */
header {
	background-color:#fff;
	padding: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	left: 0;
	z-index:1000;
	top: 0;
}
html{
	overflow-x: hidden;
}
body{
  background-color: transparent;
 max-width: 1200px;
 margin: 0 auto;
 
}
h1 {
	position: relative;
	font-size: 36px;
	margin: 0;
	left: 3%;
	color: #f00;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
    position:relative;
	display: inline-block;
	margin-right: 20px;
}

nav a {
    position:relative;
	color: #f00;
	text-decoration: none;
	font-size: 25px;
	right:30%;
}

nav a:hover {
	color: #f00;
}
#menu{
	position: absolute;
	right: 30%;
	top: 10px;
	margin-right:30%;
	background-color:red;
}
#menu a{
    position:relative;
    font-size:20px;
    color:red;
}


/* Styles for hero section */
#hero {
	background-image: url('moto.jpg');
	background-size: cover;
	background-position: center;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-align: center;
}

#hero h2 {
	font-size: 36px;
/*	margin: 0 0 20px;*/
text-align: center;
}
main a{
    positio:absolute;
    color:red;
    text-decoration:none;
    left:50%;
}


  
#hero{
    width: 100%;
    height: 80vh;
    background-color: aqua;

}
#hero h1{
    text-align: center;
    position: relative;
    color: #f00;
    top: 70px;
}
#hero h2{
    position: relative;
    text-align: center;
    top: 70px;
}
footer {
	background-color: #333;
	padding: 20px;
	color: #fff;
	text-align: center;
}


@media screen and (max-width:900px){
	  html{
      overflow-x: hidden;
    }
    main{
      position: relative;
     margin-top:110px;
    }
    #bars{
      position:absolute;
      background: red;
      right:10%;
      top: 20px;
      width: 30px;
      height: 2px;
      cursor: pointer;
    }
    #bars:before{
      content:"";
      position:absolute;
      background: red;
      top:-5px;
      width: 30px;
      height: 2px;
      cursor: pointer;
    }
    #bars:after{
      content:"";
      position:absolute;
      background: red;
      top:5px;
      width: 30px;
      height: 2px;
      cursor: pointer;
    }
   
    #menu{
      display:none;
    }
    .active#menu{
      position: relative;
      display:flex;
      font-size:16px;
      left: 10%;
    }
    #menu li{
      position: relative;
      margin: 0 auto;
      right:100px;
    }
    #menu a{
        position:absolutre;
        right:50%;
      font-size:18px;
    }
}
@media  screen and (max-width:500px) {

	#menu{
		display: none;
	}
	#bars{
		display: block;
	}
}