body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  background-color: #333;
  width: 100%;
  color: #fff;
 position:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index:100;
}

header h1 {
  margin: 0;
}
  #logo{
  text-decoration: none;
  color: white;
  cursor:pointer;
}
nav a {
  color:white;
  text-decoration: none;
  margin-right: 1rem;
  display: block;
}
#menu{
  position:absolute;
  background:#108766;
  display:flex;
  flex-direction:column;
  gap: 20px;
  top:0px;
  left:0;
  width:100%;
  height:80vh;
  display: none;
}
.active#menu{
  position:absolute;
  background: #036416;
  display:flex;
  flex-direction:column;
  gap: 30px;
  top:50px;
  left:0;
  width:50%;
  height:80vh;
  display:block;
}
.active#menu a{
  position:relative;
  left:-10px;
}
#menu a{
  position:relative;
  top:20px;
  margin:20px;
}
#bars{
  width:30px;
  height:2px;
 top:30px;
  right:50px;
  position: absolute;
  background:red;
}
#bars::before{
  content:"";
  width:30px;
  height:2px;
  top:-5px;
  position:absolute;
  background:red;
}
#bars::after{
  content:"";
  width:30px;
  height:2px;
  top:5px;
  position:absolute;
  background:red;
}
.activ#bars::after{
  background:white;
}
main {
  padding: 1rem;
}
#hero{
  position: relative;
  margin-top:70px;
  width: 100%;
  min-height: 40vh;
  margin-bottom: 1rem;
  padding:5px;
  background: #fe3;
 /* background: url();*/
  background-size:100% 100%;
}
.button{
  position:relative;
  left:40%;
  background:green;
  color:white;
}
#about p{
  line-height:25px;
}
#about img{
  position:relative;
  left:0;
  width:100%;
  height:20vh;
}

section {
  margin-bottom: 2rem;
}
#projects{
  display:flex;
  gap:5px;
}
.project {
  position: relative;
  left:-5px;
  margin-bottom: 1rem;
}
#pro{
  position:relative;
 margin-left:-42px;
}
#projects img{
  position:relative;
  left:10%;
width:200px;
max-height:20vh ;
margin:13px;
}
.img-cl{
  position:relative;
  max-width:170px;
 
}
footer {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
@media  screen and (min-width:1000px) {
  header{
    width: 100%;
  }
  html{
    overflow-x: hidden;
  }
  #bars{
    display: none;
  }
#menu{
  position: absolute;
  display: flex;
  flex-direction: row;
  background-color:transparent;
  width: auto;
  height: auto;
  left: 60%;
  top: -10px;
}
#menu a{
  position:relative;
  left: 0%;
  top: -3px;
}
#menu a:hover{
  text-decoration: underline;
  color:#fe3;
}
h2{
  text-align: center;
}
#hero{
  max-width: 1200px;
  top: 70px;
  margin: 0 auto;
  margin-bottom: 70px;
  right:10px;
  padding: 2em;
}
#hero h1 ,p{
  text-align: center;
}
#hero .button{
  position: relative;
  margin-left: 50px;
  padding: 10px;
  cursor: pointer;
}
#hero .button:hover{
  background-color: #333;
  color: #fe3;
  text-transform:uppercase;
  width: 100px;
}

#about{
  position: relative;
  top: 70px;
  margin-bottom: 90px;
}
#about h2{
  position: relative;
  left: 25%;
  top: 30px;
}
#about img{
  width:500px;
  height: 50vh;
  position: relative;
  border-radius: 45px;
  left: 15%;
}
#about p{
  position: absolute;
  right: 80px;
  width: 30%;
  height: 40vh;
  line-height: 40px;
  box-shadow: 3px 3px 3px #036416;
  margin: 0 auto;
  top:90px;
}
}
